<ion-view title="Agrícola" id="page3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="equipo" id="construcciN-button11" class="button button-positive  button-block"><i class="ion-android-settings"></i>     Equipo</a>
    <a ui-sref="refaccionesYComplementos" id="construcciN-button12" class="button button-positive  button-block"><i class="ion-android-attach"></i>     Refacciones y complementos</a>
    <a  ui-sref="transporte" id="construcciN-button13" class="button button-positive  button-block"><i class="ion-android-bus"></i>     Transporte</a>
  </ion-content>
</ion-view>
