<ion-view title="Bolsa de trabajo" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <ion-list >
          <a  ui-sref="persona" >
          <ion-item class="item-icon-right"  >
            <i class="ion-android-person"></i><b > Nombre 1</b>  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i>
          </ion-item>
          </a>
          <a  ui-sref="persona" >
            <ion-item class="item-icon-right"  >
            <i class="ion-android-person"></i><b > Nombre 2</b>  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i>
          </ion-item>
          </a>
          <a  ui-sref="persona" >
            <ion-item class="item-icon-right"  >
            <i class="ion-android-person"></i><b > Nombre 3</b>  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i>
          </ion-item>
          </a>
          <a  ui-sref="persona" >
            <ion-item class="item-icon-right"  >
            <i class="ion-android-person"></i><b > Nombre 4</b>  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i>
          </ion-item>
          </a>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
