<ion-view title="Equipo" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="equipo-card21">
      <ion-item class="item-icon-left" id="equipo-list-item3">
        <i class="icon ion-ionic"></i>Nombre del Equipo</ion-item>
      <div class=" item item-image">
        <img src="img/grua.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="equipo-list-item-container2">
        <div id="equipo-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Modelo</p>
          <p style="margin-top:0px;color:#000000;">Marca</p>
          <p style="margin-top:0px;color:#000000;">Características</p>
        </div>
      </div>
    </div>
    <div class="list card" id="equipo-card21">
      <ion-item class="item-icon-left" id="equipo-list-item3">
        <i class="icon ion-ionic"></i>Nombre del Equipo</ion-item>
      <div class=" item item-image">
        <img src="img/remolque.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="equipo-list-item-container2">
        <div id="equipo-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Modelo</p>
          <p style="margin-top:0px;color:#000000;">Marca</p>
          <p style="margin-top:0px;color:#000000;">Características</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
