<ion-view title="Persona" id="page20">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="equipo-card21">
      <ion-item class="item-icon-left" id="equipo-list-item3">
        <i class="icon ion-ionic"></i>Nombre de la persona</ion-item>
      <div class=" item item-image">
        <img src="img/face.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="equipo-list-item-container2">
        <div id="equipo-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Teléfono</p>
          <p style="margin-top:0px;color:#000000;">Cómo contactarlo</p>
          <p style="margin-top:0px;color:#000000;">Puntuacion </p>
          <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
